/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;*/


:root {
   --color-red:#c00000;
   --color-yellow:#ffc000;
   --color-green:#70ad47;
   --color-blue:#5b9bd5;
}

.nav-links {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--color-red);
    
    text-transform: uppercase;
    font-weight: bold;
}

main img {
    width: 100vw;
    height: 600px;
}

nav a {
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

main h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    padding: 20px 0px 40px 0px;
    border: 2px red solid;
    margin-bottom: 20px;
    
}

.presta-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prestations {
    border: 1px red solid;
    width: 15%;
    height: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    
}

.prestations h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 20px;
    

}


footer {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    
    border: 1px red solid;
    height: 5%;
}